<section>
  <h2>Orders</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Buyer</th>
        <th>Amount</th>
        <th>Total Cost</th>
        <th>Delivered At</th>
        <th>Ordered At</th>
        <th>Manage</th>
      </tr>
    </thead>
    <tbody>
      <% orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td>
            <%= "#{order.recipient}" %> <br/>
            <%= "(#{order.buyer.uid})" %>
          </td>
          <td>
            <ul>
              <% order.ordered_items.each do |item| %>
                <li><%= "#{item.product.name} x #{item.amount}" %></li>
              <% end %>
            </ul>
          </td>
          <td><%= order.sum %></td>
          <td><%= order.delivered_at %></td>
          <td><%= order.ordered_at %></td>
          <td>Deliver!</td>
        </tr>
      <% end %>
    </tbody>
  <table>
</section>
