<!DOCTYPE html>
<html>
  <head>
    <title>LabEshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app">
      <nav>
        <%= render "shared/navigation" %>
      </nav>
      <div class="notification">
        <% if notice %>
          <section class="notice">
            <h3>NOTICE</h3>
            <%= notice %>
          </section>
        <% end %>
        <% if alert %>
          <section class="alert">
            <h3>ALERT</h3>
            <%= alert %>
          </section>
        <% end %>
      <div>
      <div clas="content">
        <%= yield %>
      </div>
      <footer>
      </footer>
    </div>
  </body>
</html>
